@page "/"

<PageTitle>Pradinis puslapis</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Sveiki atvykę!</h1>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Pradėkite naudotis programa:</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/darbuotojai" class="text-decoration-none">Darbuotojų sąrašas</a>
                </li>
                <li class="list-group-item">
                    <a href="/darbai" class="text-decoration-none">Darbų sąrašas</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Apie šią programą</h2>
            <p>Ši programa leidžia jums efektyviai valdyti darbuotojus ir darbus. Jūs galite kurti, redaguoti ir sekti įvairias veiklas, susijusias su jūsų darbu.</p>
            <p>Pradėkite naudotis jau dabar!</p>
        </div>
    </div>
</div>
